.card-title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 23px;
}

.card .card-img-left {
    float: right;
}

.navbar-header .navbar-brand {
    color: #ffffff;
}


.error {
    color: red;
}